<div class="section-block">
  <section class="section-block">
    <h2 class="section-title">Pinned Posts</h2>
    <ul class="item-list">
      {{ range where .Site.RegularPages "Params.featured" "==" true }}
      <li>
        <a href="{{ .RelPermalink }}">
          <span class="item-date">{{ .Date.Format "02 Jan 2006" }}</span>
          <span class="item-sep">—</span>
          <span>{{ .Title }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>

  <section class="section-block">
    <h2 class="section-title">Posts</h2>
    <ul class="item-list">
      {{ range .Site.RegularPages | first 5 }}
      <li>
        <a href="{{ .RelPermalink }}">
          <span class="item-date">{{ .Date.Format "02 Jan 2006" }}</span>
          <span class="item-sep">—</span>
          <span>{{ .Title }}</span>
          <span class="item-section-badge">{{ .Section }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
</div>
