<span id="social">
    <a href="https://github.com/{{ .Site.Social.github }}" class="btn btn-sm" data-show-count="false" aria-label="My Github">
        <i class="feather-16" data-feather="github"></i>
    </a>

    <a href="https://twitter.com/{{ .Site.Social.twitter }}" class="btn btn-sm" data-show-count="false" aria-label="My Twitter">
        <i class="feather-16" data-feather="twitter"></i>
    </a>
   
    <a href="https://instagram.com/{{ .Site.Social.instagram }}" class="btn btn-sm" data-show-count="false" aria-label="My Instagram">
        <i class="feather-16" data-feather="instagram"></i>
    </a>
    
    <a href="mailto:{{ .Site.Social.mail }}" class="btn btn-sm" data-show-count="false" aria-label="My Email">
        <i class="feather-16" data-feather="mail"></i>
    </a>
</span>