:root {
    --background-color: rgb(255, 255, 255) ;
    --color: rgb(0, 0, 0);
    --cardborder: #e9e9e9;
    --cardbackground: rgb(240, 240, 240);
}

[data-bs-theme='dark'] {
    --background-color: rgb(28, 27, 32);
	--color:rgb(245, 247, 250);
    --cardborder: #252429;
	--cardbackground: rgb(34, 33, 38);
}

html {
     scroll-behavior: smooth;
}


body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Iosevka Web';
    
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}


h1.title {
    font-style: italic;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    
}

img.avatar {
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

img.thumb {
    max-width: 100%;
}

h1.author {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

blockquote.info {
    margin-bottom: 0.5rem;
}

p.desc {
    margin-bottom: 0.5rem;
}

a.nav-link {
    font-size: 14px;
}

.navbar-brand {
    padding:0px 0px 5px 0px;
}

.navbar {
    border-bottom: 1px solid var(--cardborder);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-tgl {
    padding: 5px 0px 0px 10px;
    border-left:1px solid #363636 ;
}

.post-list {
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .post-card {
    display: inline-block;
    background-color: var(--cardbackground);
    position: relative;
    border-radius: 1rem;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 1em;
    overflow: hidden;
    flex-basis: calc(33.33% - 2em);
  }
  
  @media screen and (max-width: 992px) {
    .post-card {
      flex-basis: calc(50% - 2em);
    }
  }
  
  @media screen and (max-width: 576px) {
    .post-card {
      flex-basis: calc(100% - 2em);
    }
  }
  
  .post-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .post-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
  
  .post-content {
    padding: 1rem;
    text-align: left;
    flex: 1;
  }
  
  .post-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .post-title a {
    color: #333;
    text-decoration: none;
  }
  
  .post-meta {
    color: #777;
    font-size: 0.9rem;
    margin: 0;
  }
  
  .post-summary {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
  

/* .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75re
} */


.content {
    background-color: var(--cardbackground);
    margin:2rem 0;
    padding: 2rem;
    font-size:0.9rem;
}

