:root {
    --background-color: rgb(255, 255, 255) ;
    --color: rgb(0, 0, 0);
    --color-secondary: rgb(22, 22, 22);
    --cardborder: #e9e9e9;
    --cardbackground: rgb(230, 230, 230);
    --accent: rgb(255, 0, 0);
}

[data-bs-theme='dark'] {
    --background-color: rgb(15, 15, 15); /* rgb(28, 27, 32); */
    --color:rgb(255, 255, 255);
    --color-secondary: rgb(216, 216, 216);
    --cardborder: #252429;
    --cardbackground: rgb(34, 33, 38);
}

html {
     scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Iosevka Web';
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}


h1.title {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a.tag {
  align-self: flex-start;
  background-color: var(--accent);
  color: white;
  font-weight: 500;
  padding: .10em .55em;
  border-radius: 1rem;
  font-size: 13px;
} 

.page-link {
  color: var(--accent);
}

.page-link:hover {
  color: var(--accent);
}


.container {
  max-width: 1000px;    
}

img.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

img.thumb {
  max-width: 100%;
}

h1.author {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

blockquote.info {
  margin-bottom: 0.5rem;
}

p.desc {
  margin-bottom: 0.5rem;
}

a.nav-link {
  font-size: 14px;
}

.navbar-brand {
  padding:0px 0px 5px 0px;
}


.navbar-nav {
  background-color: var(--background-color);
}
.navbar {

  background-color: var(--background-color);
  border-bottom: 1px solid var(--cardborder);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-tgl {
  padding: 5px 0px 0px 10px;
  border-left:1px solid #363636 ;
}

.post-list {
  padding-top: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
  
.post-card {
  display: inline-block;
  background-color: var(--cardbackground);
  position: relative;
  border-radius: 1rem;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0.7em;
  overflow: hidden;
  flex-basis: calc(33.33% - 2em);
}

/* height  */
@media screen and (min-height: 1000px) {
  .post-list {
    padding-top: 70px;
  }
}


@media screen and (max-width: 992px) {
  .post-card {
    flex-basis: calc(50% - 2em);
  }
}
  
@media screen and (max-width: 576px) {
  .post-card {
    flex-basis: calc(100% - 2em);
  }
}
  
.post-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
  
.post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px; /* 200px */
} 
  
.post-content {
  padding: 1rem;
  text-align: left;
  flex: 1;
}
  
.post-title {
  font-size: 1.5rem;
  margin: 0;
}
  
.post-title a {
  color: #333;
  text-decoration: none;
}
  
.post-meta {
  color: #777;
  font-size: 0.9rem;
  margin: 0;
}
  
.post-summary {
  color: var(--color-secondary);
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.content {
    background-color: var(--cardbackground);
    margin:2rem 0;
    padding: 1.3rem;
    font-size: 1em;
    border-radius: 0.3em;
}

.content img {
    max-width: 100%;
}

.highlight pre {
    border-radius: 0.3em;
    overflow-y: auto;
    padding: 1rem;
    max-height: 500px;
}



.footer p {
  text-align: center;
}

.social {
  text-align: center;
  font-size: 0.5rem;
}

.social span a {
  margin-right: -0.5rem;
  margin-top: -0.5rem;
}

svg {
  color: var(--accent);
}

audio {
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 1em;
}

/* Search Bar */
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--cardbackground);
}
.search-box + label .search-icon {
  color: var(--accent);
}
.search-box:hover {
  color: var(--color);
  background-color: var(--background-color);
  box-shadow: 0 0 0 1px var(--accent);
}
.search-box:hover + label .search-icon {
  color: var(--accent);
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background-color: var(--cardbackground);
  color: var(--color);
}
.search-box:focus + label .search-icon {
  color: var(--accent);
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
  left: -5000px;
}
.search-icon {
  color: var(--accent);
  position: relative;
  left: -40px;
  cursor: pointer;
}