$bg-color: #000000;
$lime: #00FF00;
$p-text-color: #FFFFFF;

$body-background-color: $bg-color;
$sidebar-color: $bg-color;
$border-color: #0a0a0a;

$body-text-color: $p-text-color;
$body-heading-color: #FFFFFF;
$nav-child-link-color: #FF1100;
$search-result-preview-color: $grey-dk-000;

$link-color: $lime;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #0d0d0d;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
