{{ define "main" }}
<div class="flex justify-center text-sm leading-relaxed text-gray-700 dark:text-gray-300">
	<div class="w-full max-w-3xl px-4">
		<div class="flex justify-start mb-4 pt-2">
			<span class="text-sm py-2">
				<a class="hover:text-blue-500 transition-colors" href="/posts">
					<span aria-hidden="true">←</span> Return To Posts
				</a>
			</span>
		</div>

        <section>
            <h2 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">All Posts</h2>
            <ul class="border-l-2 border-gray-100 dark:border-gray-800">
                {{ range where .Site.RegularPages "Section" "posts" }}
                <li class="group relative pl-4">
                    <a href="{{ .Permalink }}" class="block transition-all">
                        <span class="font-mono text-gray-500 dark:text-gray-400">{{ .Date.Format "02 Jan 2006" }}</span>
                        <span class="mx-2 text-gray-300 dark:text-gray-600">—</span>
                        <span class="font-medium text-blue-600 group-hover:underline">{{ .Title }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </section>
    </div>
</div>
{{ end }}
