{{ define "main" }}
<div class="relative mt-16 justify-center">
    <div class="mx-auto max-w-2xl px-4 lg:text-lg">
        <h1 class="text-3xl font-bold leading-tight">{{ .Title }}</h1>
        <ul class="list-disc">
            {{ range .Data.Terms.Alphabetical }}
            <li class="ml-6 text-gray-800 dark:text-gray-300">
                <a class="rounded-lg p-1 text-sm font-semibold text-blue-600 hover:bg-gray-700/10 dark:hover:bg-gray-300/10" href="{{ .Page.Permalink }}">{{ .Name | strings.FirstUpper }}</a>
                <span class="text-sm">({{ .Count }})</span>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}