{{ define "main" }}
<div class="pt-12">
    <article class="m-4">
        <div class="prose prose-hr:-my-px prose-hr:my-2 prose-img:rounded-md prose-figcaption:text-center prose-figcaption:-my-4 prose-figcaption:font-semibold prose-figcaption:italic dark:prose-invert post-card dark:post-card-dark mx-auto max-w-4xl rounded-lg p-6 shadow-2xl shadow-slate-700/10">
            <h1 class="text-2xl font-bold">{{ .Title }}</h1>
            <p class="leading-1 text-sm text-gray-400">Published on {{ .Date.Format "Monday, 2 Jan 2006" }}</p>
            <div class="">{{ partial "categories.html" . }}</div>
            {{ partial "thumb.html" . }}

            <div class="prose-h1:text-2xl prose-a:text-blue-600 text-sm leading-normal">
                {{ if .Params.toc | default .Site.Params.tableOfContents }}
                    {{ partial "toc.html" . }} 
                {{- end -}} 
                
                {{ .Content }}
                <div class="flex flex-col-reverse sm:flex-row justify-between items-baseline">
                    <p class="leading-1 text-[13px] text-gray-400">
                        <a href="{{ .Site.Params.githubEditURL }}{{ .File.Path }}" class="text-blue-600 hover:underline flex items-center no-underline mt-0">
                            <svg class="inline-block mr-2 h-3 w-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                            </svg>
                            Edit this page on GitHub
                            <svg class="inline-block ml-1 h-[11px] w-[11px] text-black dark:text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M7 17L17 7"></path>
                                <path d="M7 7h10v10"></path>
                            </svg>
                        </a>
                    </p>
                    <p class="leading-1 text-[13px] text-gray-400 mb-0">
                        Updated on {{ .Lastmod.Format "2 Jan 2006 15:04 MST" }}
                    </p>
                </div>
            {{ if ne .Params.comment false }} {{ partial "giscus.html" . }} {{ end }}
        </div>
    </article>
</div>

{{ partial "footer.html" . }}
{{ end }}
