<div id="giscus-container" class="mt-4">
  <script>
    var giscusTheme = localStorage.getItem("color-theme"); // Use the "color-theme" cookie
    var giscusAttributes = {
      src: "https://giscus.app/client.js",
      "data-repo": "r4sso/r4sso.github.io",
      "data-repo-id": "MDEwOlJlcG9zaXRvcnkzMDAyOTQzNzM=",
      "data-category": "Announcements",
      "data-category-id": "DIC_kwDOEeYg5c4CX55V",
      "data-mapping": "pathname",
      "data-reactions-enabled": "1",
      "data-input-position": "top",
      "data-emit-metadata": "0",
      "data-strict": "0",
      "data-theme": giscusTheme,
      "data-lang": "en",
      "data-loading": "lazy",
      crossorigin: "anonymous",
      async: "",
    };

    var giscusScript = document.createElement("script");
    Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
    document.getElementById("giscus-container").appendChild(giscusScript);
  </script>
</div>

