<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand disabled">
            <img src="https://img.icons8.com/ios/512/motherboard.png" alt="Bootstrap" width="30" height="30">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto ">
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
            {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
            </a>
            
            {{ end }}
          
        </ul>
      </div>
    </div>
  </nav>
