{{ $paginator := .Paginator }}
{{ $adjacent_links := 2 }}
{{ $max_links := (add (mul $adjacent_links 2) 1) }}
{{ $lower_limit := (add $adjacent_links 1) }}
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

{{ if ge $paginator.TotalPages 1 }}
<nav aria-label="Page navigation" class="pagination">
  <ul class="pagination-list">
    <li class="pagination-item">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" aria-label="Previous">‹</a>
      {{ else }}
        <span class="disabled">‹</span>
      {{ end }}
    </li>

    {{ range $paginator.Pagers }}
      {{ $.Scratch.Set "page_number_flag" false }}
      {{ if gt $paginator.TotalPages $max_links }}
        {{ if le $paginator.PageNumber $lower_limit }}
          {{ if le .PageNumber $max_links }}{{ $.Scratch.Set "page_number_flag" true }}{{ end }}
        {{ else if ge $paginator.PageNumber $upper_limit }}
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}{{ $.Scratch.Set "page_number_flag" true }}{{ end }}
        {{ else }}
          {{ if and (ge .PageNumber (sub $paginator.PageNumber $adjacent_links)) (le .PageNumber (add $paginator.PageNumber $adjacent_links)) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}
        {{ end }}
      {{ else }}
        {{ $.Scratch.Set "page_number_flag" true }}
      {{ end }}

      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li class="pagination-item">
          <a href="{{ .URL }}" class="{{ if eq .PageNumber $paginator.PageNumber }}active{{ end }}">{{ .PageNumber }}</a>
        </li>
      {{ end }}
    {{ end }}

    <li class="pagination-item">
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" aria-label="Next">›</a>
      {{ else }}
        <span class="disabled">›</span>
      {{ end }}
    </li>
  </ul>
</nav>
{{ end }}
