{{- if or (in .Params.thumb "http") (in .Params.thumb ".gif") -}}
  {{ $src := .Page.Resources.GetMatch (.Params.thumb | safeURL) }}
  <div class="thumb">
    <figure>
      <a href="{{ .Params.thumb }}">
        <picture>
          <img src="{{ .Params.thumb }}" alt="{{ .Params.alt }}" decoding="async" width="900" height="900">
        </picture>
      </a>
      {{ with .Params.alt }}<figcaption>- {{ . | markdownify }}</figcaption>{{ end }}
    </figure>
  </div>
{{ else }}
  {{ $src := .Page.Resources.GetMatch (.Params.thumb | safeURL) }}
  {{ if $src }}
  <div class="thumb">
    <figure>
      {{ $data := newScratch }}
      {{ if gt $src.Width 1100 }}
        {{ $data.Set "webp" ($src.Resize "640x webp q80") }}
        {{ $data.Set "fallback" ($src.Resize "640x q80") }}
        {{ $data.Set "webpSmall" ($src.Resize "360x webp q75") }}
        {{ $data.Set "fallbackSmall" ($src.Resize "360x q75") }}
      {{ else }}
        {{ $data.Set "webp" ($src.Resize (printf "%dx%d webp q80" $src.Width $src.Height)) }}
        {{ $data.Set "fallback" ($src.Resize (printf "%dx%d q80" $src.Width $src.Height)) }}
      {{ end }}
      {{ $webp := $data.Get "webp" }}
      {{ $fallback := $data.Get "fallback" }}
      <a href="{{ $src.RelPermalink }}">
        <picture>
          {{ if $data.Get "webpSmall" }}
          <source srcset="{{ ($data.Get "webpSmall").RelPermalink }} 360w, {{ $webp.RelPermalink }} 640w" sizes="(max-width: 640px) calc(100vw - 72px), 640px" type="image/webp">
          <source srcset="{{ ($data.Get "fallbackSmall").RelPermalink }} 360w, {{ $fallback.RelPermalink }} 640w" sizes="(max-width: 640px) calc(100vw - 72px), 640px" type="image/jpeg">
          {{ else }}
          <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
          {{ end }}
          <img src="{{ $fallback.RelPermalink }}" alt="{{ .Params.alt }}" decoding="async" loading="eager" fetchpriority="high" width="{{ $fallback.Width }}" height="{{ $fallback.Height }}" />
        </picture>
      </a>
      {{ with .Params.alt }}<figcaption>- {{ . | markdownify }}</figcaption>{{ end }}
    </figure>
  </div>
  {{ end }}
{{- end -}}
