<html>
    <head>
        <title> {{ site.title }} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <link rel="stylesheet" href="dist/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
<body>
    <nav>
        <ul class="menu">
          <li class="logo arimo"><a href="#">{{ site.domain }}</a></li>
          <li class="item raleway"><a href="#">{{ site.navflink1 }}</a></li>
          <li class="item raleway"><a href="/blog">{{ site.navflink2 }}</a></li>
          </li>
      </nav>
    {{ site.profile }}
    {{ content }}


    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>