<html>
    <head>
        <title> {{ site.title }} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <link rel="stylesheet" href="dist/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
</html>
<body>
    <nav>
        <ul class="menu">
          <li class="logo arimo"><a href="#">{{ site.domain }}</a></li>
          <li class="item raleway"><a href="#">{{ site.navflink1 }}</a></li>
          <li class="item raleway"><a href="#">{{ site.navflink2 }}</a></li>
          </li>
      </nav>

    <div class="about">
        <img class="profile" src="dist/66033675.png"><br>
        <a class="logo arimo" href="#"><b>{{ site.domain }}</b></a>
        <br><p class="moto abel">{{ site.moto }}</p>
        <a href="{{ twitter }}" class="fa fa-twitter"></a>
        <a href="https://instagram.com/{{ instagram }}" class="fa fa-instagram"></a>
        <a href="https://github.com/{{github}}" class="fa fa-github"></a>
    </div>


<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
</body>